body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #797e5f;
}
body h2, body h3, body h4, body h5, body h6 {
  color: white;
  text-decoration: underline;
  padding: 10px;
}

header .logo {
  width: 200px;
}
@media (max-width: 375px) {
  header .logo {
    width: 150px;
  }
}
header nav {
  max-height: 400px;
  justify-content: end;
}
header .collapse {
  justify-content: end;
  font-size: 1.2rem;
}
header .h1div {
  border-top: 2px solid white;
}
header .navbar {
  background-color: #96b392;
}
header nav li {
  color: white;
}
header nav li a:hover {
  background-color: gray;
  border-radius: 5px;
  transition: 0.01s;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body .titulo {
  text-decoration: underline;
  text-align: start;
  color: green;
  margin: 5px;
}
@media (max-width: 375px) {
  body .titulo {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 12px;
  }
}
body .h1div {
  border-top: 2px solid white;
  background-color: #96b392;
  height: 9.6vh;
}

main {
  padding: 3;
  margin: 3px;
}
main .primerpagina {
  width: 95%;
  margin: 0 auto;
  padding: 1%;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "img1 not3 not3" "img1 not2 not1" "not5 not2 not4";
}
main .primerpagina .img1 {
  grid-area: img1;
}
main .primerpagina .not1 {
  grid-area: not1;
}
main .primerpagina .not2 {
  grid-area: not2;
}
main .primerpagina .not3 {
  grid-area: not3;
}
main .primerpagina .not4 {
  grid-area: not4;
}
main .primerpagina .not5 {
  grid-area: not5;
}
main .primerpagina .imgvivo {
  width: 595px;
  height: 500px;
  border: 3px solid green;
  opacity: 1;
  border-radius: 4px;
}
main .primerpagina .imgnoticias {
  width: 320px;
  height: 245px;
  border-radius: 4px;
  border: 2px solid green;
  opacity: 0.9;
}
main .primerpagina .imgnoticiasbat {
  width: 650px;
  height: 245px;
  border-radius: 4px;
  border: 2px solid green;
  opacity: 0.9;
}
main .primerpagina .imgnoticiassel {
  width: 595px;
  height: 245px;
  border-radius: 4px;
  border: 2px solid green;
  opacity: 0.9;
}
main .primerpagina .imgnoticiasucr {
  width: 320px;
  height: 500px;
  border-radius: 4px;
  border: 2px solid green;
  opacity: 0.9;
}
main .primerpagina a img:hover {
  opacity: 0.7;
  color: black;
}
@media (max-width: 768px) {
  main .primerpagina {
    width: 95%;
    margin: 10px 10px 10px 10px;
    padding: auto;
    grid-gap: 1%;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: repeat(5, 0.5fr);
    grid-template-areas: "img1 img1" "not1 not2" "not3 not2" "not3 not4" "not5 not5";
  }
  main .primerpagina .imgvivo {
    width: 100%;
    height: 100%;
  }
  main .primerpagina .imgnoticias {
    width: 100%;
    height: 100%;
  }
  main .primerpagina .imgnoticiasbat {
    width: 100%;
    height: 100%;
  }
  main .primerpagina .imgnoticiassel {
    width: 100%;
    height: 100%;
  }
  main .primerpagina .imgnoticiasucr {
    width: 100%;
    height: 100%;
  }
}

.padrenoticias {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  padding: 30px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "noticia1 noticia2" "noticia3 noticia4" "noticia5 noticia6" "noticia7 noticia8";
}
@media (max-width: 375px) {
  .padrenoticias {
    grid-gap: 10px;
    padding: auto;
    margin-right: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 0.5fr);
    grid-area: "noticia1";
  }
}
@media (max-width: 768px) {
  .padrenoticias {
    margin: auto;
    width: 90%;
    padding: 5px;
    grid-gap: 8px;
  }
}
.padrenoticias .noticia1 {
  grid-area: noticia1;
}
.padrenoticias .noticia2 {
  grid-area: noticia2;
}
.padrenoticias .noticia3 {
  grid-area: noticia3;
}
.padrenoticias .noticia4 {
  grid-area: noticia4;
}
.padrenoticias .noticia5 {
  grid-area: noticia5;
}
.padrenoticias .noticia6 {
  grid-area: noticia6;
}
.padrenoticias .noticia7 {
  grid-area: noticia7;
}
.padrenoticias .noticia8 {
  grid-area: noticia8;
}
.padrenoticias .iframenoticias {
  width: 450px;
  height: 390px;
  border-radius: 10px;
  border-top: solid 8px rgb(50, 106, 50);
  border-bottom: solid 8px rgb(50, 106, 50);
  margin: 1rem;
  border-radius: 10px;
  border-right: solid 8px rgb(161, 201, 29);
  border-left: solid 8px rgb(161, 201, 29);
  margin: 1rem;
}
@media (max-width: 375px) {
  .padrenoticias .iframenoticias {
    width: 300px;
    border-radius: 5px;
  }
}
@media (max-width: 768px) {
  .padrenoticias .iframenoticias {
    width: 330px;
  }
}

.padrenoticias {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  padding: 30px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "noticia1 noticia2" "noticia3 noticia4" "noticia5 noticia6" "noticia7 noticia8";
}
.padrenoticias .noticia1 {
  grid-area: noticia1;
}
.padrenoticias .noticia2 {
  grid-area: noticia2;
}
.padrenoticias .noticia3 {
  grid-area: noticia3;
}
.padrenoticias .noticia4 {
  grid-area: noticia4;
}
.padrenoticias .noticia5 {
  grid-area: noticia5;
}
.padrenoticias .noticia6 {
  grid-area: noticia6;
}
.padrenoticias .noticia7 {
  grid-area: noticia7;
}
.padrenoticias .noticia8 {
  grid-area: noticia8;
}
.padrenoticias .iframenoticias {
  width: 450px;
  height: 390px;
}

.padrenoticias {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  padding: 30px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "noticia1 noticia2" "noticia3 noticia4" "noticia5 noticia6" "noticia7 noticia8";
}
.padrenoticias .noticia1 {
  grid-area: noticia1;
}
.padrenoticias .noticia2 {
  grid-area: noticia2;
}
.padrenoticias .noticia3 {
  grid-area: noticia3;
}
.padrenoticias .noticia4 {
  grid-area: noticia4;
}
.padrenoticias .noticia5 {
  grid-area: noticia5;
}
.padrenoticias .noticia6 {
  grid-area: noticia6;
}
.padrenoticias .noticia7 {
  grid-area: noticia7;
}
.padrenoticias .noticia8 {
  grid-area: noticia8;
}
.padrenoticias .iframenoticias {
  width: 450px;
  height: 390px;
}

.padrenoticias {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  padding: 30px;
  grid-gap: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "noticia1 noticia2" "noticia3 noticia4" "noticia5 noticia6" "noticia7 noticia8";
}
.padrenoticias .noticia1 {
  grid-area: noticia1;
}
.padrenoticias .noticia2 {
  grid-area: noticia2;
}
.padrenoticias .noticia3 {
  grid-area: noticia3;
}
.padrenoticias .noticia4 {
  grid-area: noticia4;
}
.padrenoticias .noticia5 {
  grid-area: noticia5;
}
.padrenoticias .noticia6 {
  grid-area: noticia6;
}
.padrenoticias .noticia7 {
  grid-area: noticia7;
}
.padrenoticias .noticia8 {
  grid-area: noticia8;
}
.padrenoticias .iframenoticias {
  width: 450px;
  height: 390px;
}

h2 {
  text-align: center;
}

section .periodistas1 {
  background-color: aliceblue;
  border: solid 3px black;
  border-radius: 5px;
  margin: auto;
  padding: 15px;
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1, 5fr;
  grid-template-areas: "imgtodos textoparte1" "textoparte2 textoparte2";
}
@media (max-width: 768px) {
  section .periodistas1 {
    justify-content: center;
    width: 95%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 0fr 0fr;
    grid-template-areas: "imgtodos" "textoparte1" "textoparte2";
  }
  section .periodistas1 .imgtodos {
    width: 100%;
  }
  section .periodistas1 .imgtodos img {
    width: 680px;
    height: 100%;
  }
  section .periodistas1 .textoparte1 {
    width: 100%;
  }
  section .periodistas1 .textoparte1 p {
    text-align: justify;
  }
  section .periodistas1 .textoparte2 {
    width: 100%;
  }
  section .periodistas1 .textoparte2 p {
    text-align: justify;
  }
}
@media (max-width: 375px) {
  section .periodistas1 {
    height: 220vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 0.5fr 0.5fr;
    grid-template-areas: "imgtodos" "textoparte1" "textoparte2";
  }
  section .periodistas1 .imgtodos {
    height: 100%;
  }
  section .periodistas1 .imgtodos img {
    width: 80vw;
    height: 100%;
  }
}
section .periodistas1 .imgtodos {
  grid-area: imgtodos;
  width: 1%;
}
section .periodistas1 .imgperiodistas {
  width: 600px;
  height: 380px;
}
section .periodistas1 .imgtodos img {
  border-radius: 5px;
  border: solid 3px black;
}
section .periodistas1 .textoparte1 {
  grid-area: textoparte1;
  text-align: justify;
}
section .periodistas1 .textoparte1 p {
  font-size: 1.3rem;
}
@media (max-width: 375px) {
  section .periodistas1 .textoparte1 p {
    font-size: 1rem;
  }
}
section .periodistas1 .textoparte2 p {
  font-size: 1.3rem;
}
@media (max-width: 375px) {
  section .periodistas1 .textoparte2 p {
    font-size: 1rem;
  }
}
section .periodistas1 .textoparte2 {
  grid-area: textoparte2;
  text-align: justify;
}
section .periodistas1 img:hover {
  opacity: 0.7;
  color: black;
}

section {
  text-align: center;
}
section .periodistas2 {
  background-color: aliceblue;
  width: 95%;
  border-radius: 5px;
  margin: auto;
  border: solid 3px black;
  grid-gap: 5px;
  row-gap: 20px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "primerdescripcion primerfoto " "segundafoto segundadescripcion" "terceradescripcion tercerafoto" "cuartafoto cuartadescripcion" "quintadescripcion quintafoto" "sextafoto sextadescripcion";
}
@media (max-width: 375px) {
  section .periodistas2 {
    grid-gap: 1px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 0.5fr);
    grid-template-areas: "primerfoto" "primerdescripcion" "segundafoto" "segundadescripcion" "tercerafoto" "terceradescripcion" "cuartafoto" "cuartadescripcion" "quintafoto" "quintadescripcion" "sextafoto" "sextadescripcion";
  }
}
section .periodistas2 .primerfoto {
  grid-area: primerfoto;
}
section .periodistas2 .primerdescripcion {
  grid-area: primerdescripcion;
}
section .periodistas2 .segundafoto {
  grid-area: segundafoto;
}
section .periodistas2 .segundadescripcion {
  grid-area: segundadescripcion;
}
section .periodistas2 .tercerafoto {
  grid-area: tercerafoto;
}
section .periodistas2 .terceradescripcion {
  grid-area: terceradescripcion;
}
section .periodistas2 .cuartafoto {
  grid-area: cuartafoto;
}
section .periodistas2 .cuartadescripcion {
  grid-area: cuartadescripcion;
}
section .periodistas2 .quintafoto {
  grid-area: quintafoto;
}
section .periodistas2 .quintadescripcion {
  grid-area: quintadescripcion;
}
section .periodistas2 .sextafoto {
  grid-area: sextafoto;
}
section .periodistas2 .sextadescripcion {
  grid-area: sextadescripcion;
}
section .periodistas2 img:hover {
  opacity: 0.7;
  color: black;
}
section .periodistas2 .titulosperiodistas {
  color: darkmagenta;
  font-size: 2rem;
  text-align: center;
  font-style: oblique;
}
@media (max-width: 768px) {
  section .periodistas2 .titulosperiodistas {
    font-size: 1.8rem;
  }
}
section .periodistas2 .descripcionperiodistas {
  text-align: justify;
  font-size: 1.3rem;
}
@media (max-width: 768px) {
  section .periodistas2 .descripcionperiodistas {
    font-size: 1rem;
  }
}
section .imgperiodistaspers {
  border-radius: 20px;
  border: solid 2px black;
  width: 90%;
  height: 400px;
}
@media (max-width: 768px) {
  section .imgperiodistaspers {
    width: 95%;
    border-radius: 10px;
  }
}

@media (max-width: 375px) {
  section iframe {
    width: 98%;
  }
}
@media (max-width: 768px) {
  section iframe {
    width: 98%;
  }
}

form {
  width: 98%;
  margin: auto;
  padding: 20px;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
}
form h4 {
  margin-left: 1%;
  margin-right: 10%;
  text-align: center;
}
form fieldset {
  color: rgb(11, 76, 7);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
form input {
  background-color: rgb(146, 234, 146);
  font-size: 1.3rem;
}

footer {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96b392;
  border-top: 3px solid green;
}
@media (max-width: 375px) {
  footer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
footer .logofooter {
  width: 200px;
}
@media (max-width: 375px) {
  footer .logofooter {
    width: 150px;
  }
}
footer div {
  justify-content: flex-end;
}
footer .icon {
  width: 60px;
  height: 60px;
  margin: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: 0.25s;
}
footer .icon:hover {
  outline-offset: 4px;
}
footer .icon:hover i {
  -webkit-animation: shake 0.25s;
          animation: shake 0.25s;
}
footer .icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76;
}
footer .icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
footer .icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
footer .icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}
@-webkit-keyframes shake {
  10% {
    transform: rotate(180deg);
  }
  20% {
    transform: rotate(-180deg);
  }
  30% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(-360deg);
  }
}
@keyframes shake {
  10% {
    transform: rotate(180deg);
  }
  20% {
    transform: rotate(-180deg);
  }
  30% {
    transform: rotate(360deg);
  }
  40% {
    transform: rotate(-360deg);
  }
}/*# sourceMappingURL=estilo.css.map */