/////////*BODY TODAS LAS PAGINAS*/////////
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
body{
    background-color: gray;  
    
    h2, h3, h4, h5, h6{
        color: white;
        text-decoration: underline;
        padding: 10px;
    }
}
