/////////*BARRA DE NAVEGACION - NAV*/////////
header{
    .logo{
        @media (max-width: 375px){
            width: 150px;
        }
    width: 200px;
    }
    nav{
    max-height: 400px;
    justify-content: end;
    }
    .collapse{
        justify-content: end;
        font-size: 1.2rem;
    }
    .h1div{
        border-top: 2px solid white ;
    }
    .navbar{
        background-color: #96b392;
    }
    nav li{
        color: white;
        a:hover{
            background-color: gray;
            border-radius: 5px;
            transition: 0.01s;
            }
    }
}