/////////*RESPONSIVE - CELULAR*/////////

@media (max-width: 375px){
    .titulo{
        font-size: 1.3rem;
    }
    .menu > li > a{
        font-size: 0.6rem;
        text-align: center;
    }
    .logocell{
        width: 120px;
    }
}
    //*INDEX RESPONSIVE*//
    
    //*QUIENES SOMOS RESPONSIVE*//
    
    //*NOTICIAS RESPONSIVE*//