/////////*RESPONSIVE - TABLET*/////////
@media (max-width: 768px){
    .titulo{
        font-size: 1.8rem;
    }
    .menu{
        justify-content: flex-end;
    }
    /*INDEX RESPONSIVE*/
    .primerpagina{
        width: 90%;
        margin: 0 auto;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 0.5fr);
        grid-template-areas: 
        "img1 img1"
        "not1 not2"
        "not3 not2"
        "not3 not4"
        "not5 not5"
        ;
    }
    .imgvivo{
        width: 100%;
        height: 100%;
    }
    .imgnoticias{
        width: 100%;
        height: 100%;
    }
    .imgnoticiasbat{
        width: 100%;
        height: 100%;
    }
    .imgnoticiassel{
        width: 100%;
        height: 100%;
    }
    .imgnoticiasucr{
        width: 100%;
        height: 100%;
    }
    
    /*QUIENES SOMOS RESPONSIVE*/
    .periodistas1{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "imgtodos"
        "textoparte1"
        "textoparte2"
        ;
    }
    .imgtodos{
        grid-area: imgtodos;
    }
    .textoparte1{
        grid-area: textoparte1;
    }
    .textoparte2{
        grid-area: textoparte2;
        width: 95%;
    }
    .textoparte1 p{
    font-size: 2rem;
    text-align: justify;
    }
    .textoparte2 p{
    font-size: 1.3rem;
    text-align: justify;
    width: 95%;
    }
    .periodistas2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr;
    }
    .imgperiodistaspers{
        width: 95%;
        height: 100%;
    }
    .periodistas2 p{
        padding: 1px;
        font-size: 1rem;
        text-align: justify;
    }
    .titulosperiodistas{
        font-size: 1.4rem;
    }

    /*NOTICIAS RESPONSIVE*/
    .iframenoticias{
        width: 100%;
        height: 240px;
    }
} 

