/////////*PAGINA CONTACTO - FORM*/////////
form{
    width: 98%;
    margin: auto;
    padding: 20px;
    background-image: linear-gradient(315deg, #0A8CEF 0%, #FF3636 80%);
    border-radius: 10px;
    h4{
        margin-left: 1%;
        margin-right: 10%;
        text-align: center;
    }
    fieldset{
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    input{
        background-color: transparent;
        font-size: 1.3rem;
    }
    .genero input{
        margin: 5px;
    }
    
}