/////////*PAGINA NOSOTROS*/////////
h2{
    text-align: center;
}
/////////*PERIODISTAS 1*/////////
section{
    .periodistas1{
        background-color: #ffffff;
        border: solid 3px #0A8CEF;
        border-radius: 30px;
        margin: auto;
        padding: 15px;
        width: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1,5fr;
        grid-template-areas: 
        "imgtodos textoparte1"
        "textoparte2 textoparte2"
        ;
            .imgtodos{
                grid-area: imgtodos;
                width: 1%;
            }
            .imgperiodistas{
                width: 600px;
                height: 380px;
            }
            .imgtodos img{
                border-radius: 30px;
                border: solid 2px #0A8CEF;
            }
            .textoparte1{
                grid-area: textoparte1;
                text-align: justify;
            }
            .textoparte1 p{
                @media (max-width: 420px){
                    font-size: 1rem;
                }
                font-size: 1.3rem;
            }
            .textoparte2 p{
                font-size: 1.3rem;
                @media (max-width: 420px){
                    font-size: 1rem;
                }
            }
            .textoparte2{
                grid-area: textoparte2;
                text-align: justify;
                height: 80vh;
            }
            .perio:hover{
                opacity: 0.7;
                color: black;
            }

            @media (max-width: 768px) {
                justify-content: center;
                width: 95%;
                grid-template-columns: 1fr;
                grid-template-rows: 0.8fr 0fr 0fr;
                grid-template-areas: 
                "imgtodos"
                "textoparte1"
                "textoparte2"
                ;
            .imgtodos{
                width: 100%;
                img{
                    width: 680px;
                    height: 100%;
                }
            }
            .textoparte1 {
                width: 100%;
                p{
                    text-align: justify;
                }
            }
            .textoparte2 {
                width: 100%;
                p{
                    text-align: justify;
                }
            }
            }
            @media (max-width: 430px){
                justify-content: center;
                height: max-content;
                grid-template-columns: 1fr;
                grid-template-rows: 0.6fr 0.5fr 0.5fr;
                grid-template-areas: 
                "imgtodos"
                "textoparte1"
                "textoparte2"
                ;
            
                .imgtodos{
                    height: 35vh;
                    img{
                        width: 85vw;
                        height: 100%;
                    }
                }
            }
            @media (max-width: 375px){
                height: 230vh;
                .imgtodos{
                    height: 100%;
                    img{
                        width: 85vw;
                        height: 100%;
                    }
                }
            }
    }
}
    /////////*PERIODISTAS 2*/////////
section{
    text-align: center;
        .periodistas2{
            @media (max-width: 420px){
                grid-gap: 1px;
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(12, 0.5fr);
                grid-template-areas: 
                "primerfoto"
                "primerdescripcion"
                "segundafoto"
                "segundadescripcion"
                "tercerafoto"
                "terceradescripcion"
                "cuartafoto"
                "cuartadescripcion"
                "quintafoto"
                "quintadescripcion"
                "sextafoto"
                "sextadescripcion"
                ;
            }
            
            background-color: #ffffff;
            width: 95%;
            border-radius: 5px;
            margin: auto;
            border: solid 3px #0A8CEF;
            grid-gap: 5px;
            row-gap: 20px;
            padding: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "primerdescripcion primerfoto "
            "segundafoto segundadescripcion"
            "terceradescripcion tercerafoto"
            "cuartafoto cuartadescripcion"
            "quintadescripcion quintafoto"
            "sextafoto sextadescripcion"
            ;
        .primerfoto{
            grid-area: primerfoto;
        }
        .primerdescripcion{
            grid-area: primerdescripcion;
        }
        .segundafoto{
            grid-area: segundafoto;
        }
        .segundadescripcion{
            grid-area: segundadescripcion;
        }
        .tercerafoto{
            grid-area: tercerafoto;
        }
        .terceradescripcion{
            grid-area: terceradescripcion;
        }
        .cuartafoto{
            grid-area: cuartafoto;
        }
        .cuartadescripcion{
            grid-area: cuartadescripcion;
        }
        .quintafoto{
            grid-area: quintafoto;
        }
        .quintadescripcion{
            grid-area: quintadescripcion;
        }
        .sextafoto{
            grid-area: sextafoto;
        }
        .sextadescripcion{
            grid-area: sextadescripcion;
        }
        img:hover{
            opacity: 0.7;
            color: black;
        }

        /////////*CLASES*/////////
        .titulosperiodistas{
            @media (max-width: 768px) {
                font-size: 1.7rem;  
                }
            color: #0A8CEF;
            font-size: 2rem;
            text-align: center;
            font-style: oblique;
        }
        .descripcionperiodistas{
            @media (max-width: 768px) {
                font-size: 1rem;  
                }
            text-align: justify;
            font-size: 1.3rem;
        }
        }
        .imgperiodistaspers{
            @media (max-width: 420px) {
                height: 250px;
                }
            @media (max-width: 768px) {
                width: 95%;
                border-radius: 10px;
                }
            border-radius: 20px;   
            border: solid 2px #0A8CEF; 
            width: 90%;
            height: 400px;
        }
    }

