/////////*TITULO PRINCIPAL - PAGINAS*/////////
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .titulo{
        @media (max-width: 420px){
            font-size: 1.8rem;
            text-align: center;
            margin-top: 3%;
        }
        @media (max-width: 375px){
            font-size: 1.7rem;
            text-align: center;
            margin-top: 3%;
        }
        text-decoration:underline;
        text-align:start;
        color: white;
        margin: 5px;
    }
    .h1div{
        border-top: 2px solid white ;
        background-color: #000000;
        height: 9.6vh;
    }
    @media (max-width: 420px){
        label{
            width: 100%;
        }
        .botones{
            border: black;
        }
    }
}