/////////*TITULO PRINCIPAL - PAGINAS*/////////
body{
    .titulo{
        text-decoration:underline;
        text-align:start;
        color: green;
        margin: 5px;
    }
    .h1div{
        border-top: 2px solid white ;
        background-color: black;
        height: 9.6vh;
    }
    
}