/////////*TITULO PRINCIPAL - PAGINAS*/////////
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .titulo{
        @media (max-width: 375px){
            font-size: 1.5rem;
            text-align: center;
            margin-top: 12px;
        }
        text-decoration:underline;
        text-align:start;
        color: green;
        margin: 5px;
    }
    .h1div{
        border-top: 2px solid white ;
        background-color: #96b392;
        height: 9.6vh;
    }
    
}